---
import BookGrid from '../components/BookGrid.astro';
import librosData from '../data/libros.json';
import '../styles/global.css';
---

<html lang="es">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="generator" content={Astro.generator} />
		<title>Libros | FIL GDL 2025</title>
		<meta name="description" content="Libros adquiridos en la Feria Internacional del Libro de Guadalajara 2025" />
	</head>
	<body>
		<main>
			<h1>Libros | Feria Internacional de Libro de Guadalajara 2025</h1>
			<BookGrid books={librosData} />
		</main>
	</body>
</html>
